[bumpversion]
current_version = 0.0.3

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:file:menus/netboot.ipxe]
search = echo Version {current_version}
replace = echo Version {new_version}
